<app-header></app-header>
<div class="leaderboard">
  <div class="container">
    <div class="user-info">
      <button class="shop" type="button" (click)="redirectMainMenu()">Back</button>
      <div class="balance">
        Balance: <span class="balanceSumm">{{balance}}&#36;</span>
      </div>
    </div>
    <table class="leaders table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Prize &#36;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let leader of leaders; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <div class="avatar">
              <img [src]="leader.icon" alt="hero_icon">
            </div>
            {{ leader.name }}
          </td>
          <td>{{ leader.prize | number }} </td>
        </tr>
        </tbody>
    </table>

  </div>
</div>
<app-footer></app-footer>
